.reading {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  text-align: center;
  color: #fff;
  position: relative;
  top: 50px;
}
h1 {
  font-family: "Roboto", sans-serif;
  position: relative;
  top: 15px;
}
#press-search {
  background: #f5663c;
  color: #fff;
  border-radius: 5px;
}

#currentTemp {
  font-family: "Roboto", sans-serif;
  position: relative;
  top: -20px;
  left: 20px;
  background: #8096c1;
  color: #fff;
  border-radius: 5px;
  border: none;
}
#currentDate {
  font-size: 25px;
}
#countryCity {
  font-size: 25px;
}
.right-arrow {
  color: #8096c1;
  font-size: 18px;
}
.rain-cloud {
  font-size: 60px;
  margin-bottom: 5px;
}

.temp {
  font-size: 45px;
  font-family: "Roboto", sans-serif;
}
.nineteen {
  font-size: 40px;
}
.celcius {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  position: relative;
  top: -15px;
}
.slash {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  position: relative;
  top: -15px;
}
.fahren {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  position: relative;
  top: -15px;
}

a:link {
  text-decoration: none;
}
.additional-temp {
  position: relative;
  right: 20px;
}
.six {
  position: relative;
}
.twenty-two {
  position: relative;
  left: 40px;
}
.scattered {
  font-family: "Roboto", sans-serif;
}
hr {
  display: inline-block;
  text-align: center;
  width: 35%;
  position: relative;
  top: 10px;
}
.row {
  width: 36%;
  position: relative;
  left: 33%;
  right: 33%;
}
.mon-day {
  font-size: 32px;
  margin-top: 5px;
}
.date-1 {
  margin-top: 8px;
}
.tue-day {
  font-size: 32px;
  margin-top: 5px;
}
.date-2 {
  margin-top: 8px;
}
.wed-day {
  font-size: 32px;
  margin-top: 5px;
}
.date-3 {
  margin-top: 8px;
}
.thu-day {
  font-size: 25px;
  margin-top: 5px;
}
.date-4 {
  margin-top: 8px;
}
.fri-day {
  font-size: 25px;
  margin-top: 5px;
}
.date-5 {
  margin-top: 8px;
}
.sourceCode {
  text-align: center;
  position: relative;
  top: 80px;
}
.author {
  color: #fff;
}
body {
  background-image: url("/Image/sunset2.jpg");
  background-size: cover;
  background-position: top center;
  position: absolute;
  display: block;
  max-width: 100%;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  backdrop-filter: blur(8px);
}
input {
  position: relative;
  bottom: 20px;
  border-radius: 5px;
  color: black;
  outline: none;
  margin-right: 0;
  border: none;
}
